body{
    margin:0;
}
.bg{
  background-color: yellow;
  width: 50%;
  height: 100vh;

  position: absolute;
  right: 50%;
}

.lol{
  background-color: rgb(255, 0, 0);
  width: 50%;
  height: 100vh;
  
  position: absolute;
  left: 50%;
}