body {
    margin: 0;
}

.about-container {
    margin-top: 40px;
    justify-content: center;
    position: relative;
    align-items: center;
}

img.law_image {
    position: relative;
    left: 54vw;
    width: 35.625rem;
    max-width: 100%;
    top: -5vw;
    height: auto;
}

h1.title {
    margin-bottom: 1.25rem;
    position: relative;
    text-align: left;
    width: 50%;
    top: 10vw;
    left: 14vw;
    font-family: "Poppins";
    font-weight: 40px;
}

p.about_text {
    max-width: 33.563rem;
    width: 33.563rem;
    position: relative;
    font-family: "Poppins";
    font-weight: 17px;
    top: 12vw;
    left: 14vw;
}

button.read_more {
    background-color: #18191e;
    color: #ffffff;
    border: none;
    min-width: 11rem;
    height: 3.125rem;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 1.063rem;
    border-radius: 0.313rem;
    text-align: center;
    position: relative;
    top: -9vw;
    left: -23.5vw;
    cursor: pointer;
}

.teams_pages {
    background-color: #18191e;
    height: 70rem;
    position: relative;
    margin-top: 250px;
}

img.icon{
    width: 40px;
    height: 40px;
}

.TestimonialText{
    font-weight: bold;
    font-family: "poppins";
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

.container-comands{
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 70px;
    background-color: #18191e;
    width: 100%;
}


@media (min-width: 768px) and (max-width: 1439px) {

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .about-content,img.law_image {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: auto;
        position: static;
    }

    h1.title{
        position: static;
        text-align: center;
        font-weight: bolder;
    }



    p.about_text {
        position: static;
        text-align: center;
        width: 100%;
    }

    button.read_more {
        position: static;
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-comands{
        margin-top: 0px;
        width: 100vw;
    }
}

@media (max-width: 767px) {
    
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .about-content,img.law_image {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: auto;
        position: static;
    }

    h1.title{
        position: static;
        text-align: center;
        font-weight: bolder;
    }



    p.about_text {
        position: static;
        text-align: center;
        width: 100%;
    }

    button.read_more {
        position: static;
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-comands{
        margin-top: 0px;
        width: 100vw;
    }
}